//general settings

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}
.container{
  width:100%;
  max-width: 1650px;
  margin:0 auto;
}

.row::after{
  content: "";
  clear: both;
  display: block;
}

.col{
  float:left;
}

h2, h3{
  font-weight: normal;
}

@font-face {
  font-family: 'muncieregular';
  src: url('./fonts/muncie-webfont.woff2') format('woff2'),
  url('./fonts/muncie-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'pt_sansregular';
//  src: url('./fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
//  url('./fonts/pt_sans-web-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}


body {
  background-color: #0d1a20;
  background-size: cover;
}

button {
  font-size: 20px;
  letter-spacing: 3px;
  background-color: rgba(255, 89, 88, 0.75);
  width: 170px;
  height: 60px;
  color: #FFFFFF;
  border: none;
}
//.jumptarget::before {
//  content:"";
//  display:block;
//  height:100px; /* fixed header height*/
//  margin:-100px 0 0; /* negative fixed header height */
//}

//header

header {
  background: black;
  width: 100vw;
  height: 100px;
  position: fixed;
  top:0;
  z-index: 2;
  display: flex;
  align-items: center;
}
header img {
  height: 62px;
  width: 62px;
  //margin-left: 3vw;
}
header p {
  font-size: 80px;
  margin-left: 5vw;
  //margin-top: 0.6vh;
  letter-spacing: 5px;
  font-family: muncieregular;
}
header nav.col{
  float: right;
  font-size: 16px;
  font-family: 'PT sans';
  //margin-top: 1vh;
  //margin-bottom: 1vh;
}
header a{
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 1vw;
  :target{
  }
}

header button{

  margin-right: 35px;
  margin-left: 25px;
  background-color: black;
  color: #ff5958;
  border: 2px solid rgba(255, 89, 88, 0.75);
}

header button:hover{
  background-color: #ff5958;
  color: #FFFFFF;
}

//main site

main {
  width: 80vw;
  background: black;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 80px;
}

//section 1 of the site -- OHIR

main section.OHIR{
  background-image: url('../images/30db76930842ded693c4c674590e84dd.jpg');
  background-size: 80vw 50vh;
  height: 40vh;
  display: flex;
  justify-content: center;
  p{
    font-size: 280px;
    align-self: center;
    //margin-left: 30vw;
    //margin-right: 30vw;
    text-shadow: -5px 0 #458b74;
    font-family: muncieregular;
  }
}

//section 2 of the site -- ONBOARD

section.ONBOARD {
  height: 60vh;
  background-image: url("../images/2e58dbd47f9f310f97d956c8fd73a1c4.jpg");
  background-repeat: no-repeat;
  background-size: 80vw 80vh;
  display: flex;
  justify-content: center;
  img{
    height: 55vh;
    width: 45vw;
    margin-left: -5vw;
  }
  div.border{
    //padding-top: 40px;
    //padding-bottom: 40px;
    align-self: center;
    margin-right: 2vw;
    //padding-left: 5px;
    //padding-right: 35px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
  }
  p{
    font-family: "PT sans";
    font-size: 20px;
    color: #FFFFFF;
    line-height: 36px;
  }
  button{
    margin-top: 20px;
  }
}

//section 3 of the site -- STORY

main section.STORY{
  background-image: url("../images/ae2254c7a20031b453a409bb2edbbbe5.png");
  background-repeat: no-repeat;
  background-size: 80vw 50vh;
  -webkit-background-origin: border;
  width: 80vw;
  height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main button.story{
  background-color: rgba(255, 89, 88, 0.75);
  color: #FFFFFF;
  border: none;
  width: 550px;
}

//section 4 of the site -- FRAGMENT

main section.FRAGMENT:before{
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
  visibility: hidden;
}
main section.FRAGMENT{
  background: url("../images/2e58dbd47f9f310f97d956c8fd73a1c4.jpg") no-repeat;
  background-size: 80vw 90vh;
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "PT sans";
  img{
    height: 60vh;
    width: 45vw;
    margin-top: -5vh;
    margin-left: -1vw;
  }
  div.col{
    width: 30vw;
    margin-top: 8vh;
    color: #FFFFFF;
    line-height: 36px;
    margin-right: 5vw;
    span{
      font-size: 34px;
      letter-spacing: 5px;
    }
    p{
      margin-top: 3vh;
      font-size: 24px;
    }
    input {
      width: 25vw;
      height: 50px;
      color: #0d1a20;
      font-size: 24px;
      margin-top: 3vh;
    }
  }
  div.AUTHOR{
    width: 50vw;
    h3{
      font-size: 34px;
      letter-spacing: 5px;
      text-align: center;
    }
    p{
      font-size: 24px;
      margin-top: 2.5vh;
    }
  }

}

//section 5 of the page -- SHOP

main section.SHOP{
  background: url("../images/30db76930842ded693c4c674590e84dd.jpg");
  background-position:  60% 33%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 50vh;
    width: 45vw;
  }
  div{
    display: flex;
    flex-flow: row wrap;
    //flex-direction: column;
    font-family: "PT sans";
    font-size: 24px;
    line-height: 36px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
    margin-right: 2vw;
    span{
      flex-basis: 100%;
    }
    h3{
      flex-basis: 100%;
    }
    h2{
      margin-top: 1vh;
      display: inline;
      font-family: muncieregular;
      font-size: 64px;
      line-height: 76px;
      letter-spacing: 5px;
    }
    button{
      margin-top: 2vh;
      margin-left: 2vw;
    }
  }
}

//section 6 of the page -- FOUR

main section.FOUR{

  background: url("../images/30db76930842ded693c4c674590e84dd.jpg");
  background-position:  25% 20%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 50vh;
    width: 40vw;
  }
  div{
    display: flex;
    flex-flow: row wrap;
    //flex-direction: column;
    font-family: "PT sans";
    font-size: 24px;
    line-height: 36px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
    margin-left: 4vw;
    span{
      flex-basis: 100%;
    }
    h3{
      flex-basis: 100%;
    }
    h2{
      margin-top: 1.5vh;
      display: inline;
      font-family: muncieregular;
      font-size: 64px;
      line-height: 76px;
      letter-spacing: 5px;
    }
    button{
      margin-top: 2vh;
      margin-left: 2vw;
    }
  }
}

//footer

footer {
  height: 200px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "PT sans";
  font-size: 24px;
  line-height: 32px;
  img{
    height: 62px;
    width: 62px;
  }
}