//general settings

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}
.container{
  width:100%;
  max-width: 1650px;
  margin:0 auto;
}

.row::after{
  content: "";
  clear: both;
  display: block;
}

.col{
  float:left;
}

@font-face {
  font-family: 'muncieregular';
  src: url('./fonts/muncie-webfont.woff2') format('woff2'),
  url('./fonts/muncie-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'pt_sansregular';
//  src: url('./fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
//  url('./fonts/pt_sans-web-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}


body {
  background-color: #0d1a20;
  background-size: cover;
}

//header

header {
  background: black;
  width: 100vw;
  height: 80px;
  position: fixed;
  top:0;
}
img {
  height: 62px;
  width: 62px;
  margin-left: 80px;
  margin-top: 8px;
}
header p {
  font-size: 80px;
  margin-left: 80px;
  margin-top: 8px;
  letter-spacing: 5px;
  font-family: muncieregular;
}
header nav.col{
  float: right;
  font-size: 16px;
  font-family: 'PT sans';
  margin-top: 15px;
}
a{
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
}
button {
  font-size: 20px;
  letter-spacing: 3px;
  background-color: rgba(255, 89, 88, 0.75);
  width: 170px;
  height: 60px;
  color: #FFFFFF;
  border: none;
  margin-right: 35px;
  margin-left: 25px;
}

header button{
  background-color: black;
  color: #ff5958;
  border: 2px solid rgba(255, 89, 88, 0.75);
}

header button:hover{
  background-color: #ff5958;
  color: #FFFFFF;
}

//main site

main {
  width: 80vw;
  background: black;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 80px;
}

//part 1 of the site -- OHIR

main div.OHIR{
  background-image: url('../images/30db76930842ded693c4c674590e84dd.jpg');
  background-size: 80vw 50vh;
  height: 40vh;
  display: flex;
  p{
    font-size: 280px;
    align-self: center;
    margin-left: 30vw;
    text-shadow: -5px 0 #458b74;
    font-family: muncieregular;
  }
}

//part 2 of the site -- ONBOARD

div.ONBOARD {
  height: 60vh;
  background-image: url("../images/2e58dbd47f9f310f97d956c8fd73a1c4.jpg");
  background-repeat: no-repeat;
  background-size: 80vw 80vh;
  img{
    height: 55vh;
    width: 50vw;
    margin-left: -45px;
  }
  div.border{
    //padding-top: 40px;
    //padding-bottom: 40px;
    position: absolute;
    margin-left: 38vw;
    margin-top: 12vh;
    //padding-left: 5px;
    //padding-right: 35px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
  }
  p{
    font-family: "PT sans";
    font-size: 20px;
    color: #FFFFFF;
    line-height: 36px;
  }
  button{
    margin-top: 20px;
  }
}

//part 3 of the site -- STORY

main div.STORY{
  background-image: url("../images/ae2254c7a20031b453a409bb2edbbbe5.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-origin: border;
  width: 80vw;
  height: 50vh;
  margin: 0;
  display: flex;
}

main button.story{
  background-color: rgba(255, 89, 88, 0.75);
  color: #FFFFFF;
  border: none;
  width: 550px;
  align-self: center;
  margin-left: 23vw;
}
