//general settings

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}
.container{
  width:100%;
  margin:0 auto;
}

.row::after{
  content: "";
  clear: both;
  display: block;
}

.col{
  float:left;
}

h2, h3{
  font-weight: normal;
}

@font-face {
  font-family: 'muncieregular';
  src: url('./fonts/muncie-webfont.woff2') format('woff2'),
  url('./fonts/muncie-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'pt_sansregular';
//  src: url('./fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
//  url('./fonts/pt_sans-web-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}


body {
  background-color: #0d1a20;
  background-size: cover;
}

button {
  font-size: 15px;
  letter-spacing: 3px;
  background-color: rgba(255, 89, 88, 0.75);
  width: 170px;
  height: 60px;
  color: #FFFFFF;
  border: none;
}
button:hover {
  transition: 0.5s;
  background-color: rgba(255, 89, 88, 1);
}

.border {
  box-shadow: 0 2px 4px black;
}

a.anchor{
  content:"";
  display:block;
  height:79px; /* fixed header height*/
  margin:-79px 0 0; /* negative fixed header height */
  visibility: hidden;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 65px; /* Place the button at the bottom of the page */
  right: 70px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background-color: rgba(30, 127, 136, 0.6);
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  height: 70px;
  width: 70px;
  border-radius: 50% 50%; /* Rounded corners */
  :hover{
    transition: 0.5s;
    background-color: rgba(30, 127, 136, 1);
  }
  img{
    height: 50px;
    margin-top: -5px;
  }
}

//.jumptarget::before {
//  content:"";
//  display:block;
//  height:100px; /* fixed header height*/
//  margin:-100px 0 0; /* negative fixed header height */
//}

//header

header {
  background: black;
  width: 100vw;
  height: 80px;
  position: fixed;
  top:0;
  display: flex;
  //align-items: center;
}
header img {
  height: 59px;
  width: 59px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}
header p {
  font-size: 80px;
  letter-spacing: 5px;
  font-family: muncieregular;
  margin-top: 5px;
}
header nav.col{
  float: right;
  font-size: 16px;
  font-family: 'PT sans';
}
header a{
  text-decoration: none;
  margin-left: 15px;
  margin-right: 10px;
}

header button{
  font-size: 15px;
  margin-right: 35px;
  margin-left: 25px;
  margin-top: 15px;
  background-color: black;
  color: #ff5958;
  height: 50px;
  width: 140px;
  border: 2px solid rgba(255, 89, 88, 0.75);
}

header button:hover{
  transition: 0.8s;
  background-color: #ff5958;
  color: #FFFFFF;
}

//main site

main {
  width: 80vw;
  background: black;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 80px;
}
@media only screen and (max-width: 1200px) {
  main {
    width: 100vw;
    margin: 0;
  }
}

//section 1 of the site -- OHIR

main section.OHIR{
  background-image: url('../images/30db76930842ded693c4c674590e84dd.jpg');
  background-size: 80vw 50vh;
  height: 35vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  p{
    font-size: 280px;
    //align-self: center;
    letter-spacing: 5px;
    //margin-left: 30vw;
    //margin-right: 30vw;
    text-shadow: -5px 0 #1E7F88;
    font-family: muncieregular;
  }
}

//section 2 of the site -- ONBOARD

section.ONBOARD {
  display: flex;
  flex-flow: row wrap;
  height: 80vh;
  background-image: url("../images/2e58dbd47f9f310f97d956c8fd73a1c4.jpg");
  background-repeat: no-repeat;
  background-size: 80vw 80vh;
  @media only screen and (max-width: 1200px) {
    background-size: 100vw 80vh;
  }
  display: flex;
  justify-content: center;
  img{
    //flex-basis: 50%;
    height: 60vh;
    width: 50vw;
    max-height: 600px;
    max-width: 800px;
    margin-left: -5vw;
  }
  div.border{
    //flex-basis: 50%;
    align-self: flex-start;
    margin-top: 10vh;
    margin-right: 20px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
    width: 30vw;
    p{
      font-family: "PT sans";
      font-size: 20px;
      color: #FFFFFF;
      line-height: 36px;
    }
  }
  button{
    margin-top: 20px;
  }
}

//section 3 of the site -- STORY

main section.STORY{
  background-image: url("../images/ae2254c7a20031b453a409bb2edbbbe5.png");
  background-repeat: no-repeat;
  background-size: 80vw 50vh;
  -webkit-background-origin: border;
  @media only screen and (max-width: 1200px) {
    background-size: 100vw 50vh;
  }
  video{
    width: 80vw;
    height: 50vh;
    z-index: 5;
    display: none;
    object-fit: cover;
    @media only screen and (max-width: 1200px) {
      width: 100vw;
      height: 60vh;
    }
  }
  height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  button{
  width: 550px;
  }
}

//section 4 of the site -- FRAGMENT

main section.FRAGMENT{
  background: url("../images/2e58dbd47f9f310f97d956c8fd73a1c4.jpg") no-repeat;
  background-size: 80vw 100vh;
  @media only screen and (max-width: 1200px) {
    background-size: 100vw 100vh;
  }
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "PT sans";
  img{
    height: 60vh;
    width: 45vw;
    margin-top: -5vh;
    margin-left: -1vw;
  }
  div.col{
    width: 30vw;
    margin-top: 8vh;
    color: #FFFFFF;
    line-height: 36px;
    margin-right: 5vw;
    span{
      font-size: 34px;
      letter-spacing: 5px;
    }
    p{
      margin-top: 3vh;
      font-size: 24px;
    }
    input {
      width: 400px;
      height: 50px;
      color: #0d1a20;
      font-size: 24px;
      margin-top: 3vh;
      border-radius: 5px;
    }
    button{
      font-size: 23px;
      font-family: "PT sans";
      width: 420px;
      margin-top: 25px;
      letter-spacing: 5px;
    }
  }
  div.AUTHOR{
    width: 50vw;
    h3{
      font-size: 34px;
      letter-spacing: 5px;
      text-align: center;
    }
    p{
      text-align: center;
      font-size: 24px;
      margin-top: 2.5vh;
    }
  }

}

//section 5 of the page -- SHOP

main section.SHOP{
  background: url("../images/800a32708fa0b963090eedc5984d0b11.png") no-repeat;
  height: 50vh;
  background-size: 80vw 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    background-size: 100vw 50vh;
  }
  img {
    height: 50vh;
    width: 40vw;
  }
  div{
    display: flex;
    flex-flow: row wrap;
    //flex-direction: column;
    font-family: "PT sans";
    font-size: 24px;
    line-height: 36px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
    margin-right: 2vw;
    max-height: 45vh;
    span{
      flex-basis: 100%;
    }
    h3{
      flex-basis: 100%;
      letter-spacing: 5px;
    }
    h2{
      margin-top: 1vh;
      display: inline;
      font-family: muncieregular;
      font-size: 64px;
      line-height: 76px;
      letter-spacing: 5px;
    }
    button{
      margin-top: 2vh;
      margin-left: 2vw;
    }
  }
}

//section 6 of the page -- FOUR

main section.FOUR{

  background: url("../images/6be9b44d2734ae87b6612b66e1cfab7a.png") no-repeat;
  height: 50vh;
  background-size: 80vw 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    background-size: 100vw 50vh;
  }
  img {
    height: 60vh;
    width: 45vw;
    margin-top: 60px;
    margin-left: -50px;
  }
  div{
    display: flex;
    flex-flow: row wrap;
    //flex-direction: column;
    font-family: "PT sans";
    font-size: 24px;
    line-height: 36px;
    padding: 40px 50px 40px 20px;
    background-color: rgba(30, 127, 136, 0.6);
    margin-left: 20px;
    span{
      flex-basis: 100%;
    }
    h3{
      flex-basis: 100%;
    }
    h2{
      margin-top: 1.5vh;
      display: inline;
      font-family: muncieregular;
      font-size: 64px;
      line-height: 76px;
      letter-spacing: 5px;
    }
    button{
      margin-top: 2vh;
      margin-left: 2vw;
    }
  }
}

//footer

footer {
  height: 110px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "PT sans";
  font-size: 16px;
  line-height: 32px;
  img{
    height: 62px;
    width: 62px;
  }
}

//SLIDER
#carousel {
  position: relative;
  width:60%;
  margin:0 auto;
  flex-basis: 100%;
  display: flex;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: -100px;
}

#slides ul {
  list-style: none;
  width:100%;
  height:250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width:100%;
  height:250px;
  float:left;
  text-align: center;
  position: relative;
  font-family: "PT sans";
}
/* Styling for prev and next buttons */
.btn-bar{
  display: block;
  position: absolute;
  //top: 40px;
  width: 100vw;
}

#buttons {
  padding:0 0 5px 0;
}

#buttons a {
  text-align:center;
  display:block;
  font-size:50px;
  float:left;
  outline:0;
  margin:0 60px;
  color:#FFFFFF;
  text-decoration:none;
  display:block;
  padding:9px;
  width:35px;
}
a#prev{
  margin-left: 8vw;
  margin-right: 54vw;
  @media only screen and (max-width: 1200px) {
    margin-right: 70vw;
  }
}
a#next{
  //right: 0;
}

a#prev:hover, a#next:hover {
  color:#FFF;
  text-shadow:.5px 0px #b14943;
  font-size: 60px;
  transition: 0.3s;
}

.quote-phrase, .quote-author {
  font-family: "PT sans";
  font-weight:300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  height: 200px;
  font-size:30px;
  color:#FFF;
  text-shadow:.5px 0px #b14943;
  font-family: "PT sans";
}

.quote-author {
  font-style:normal;
  font-size:30px;
  color: #FFFFFF;
}

.quoteContainer, .authorContainer {
  display: table;
  width: 100%;
}